- dreams.each_with_index do | dream, index |
  - if index == 0
    .col-sm-12
      = render 'dreams/dream', dream: dream
  - else
    .col-sm-6.col-md-4.row-eq-height
      = render 'dreams/dream', dream: dream
