%section.container-fluid
  .row
    .col-lg-12
      = render 'dreams/dream', dream: @dream
%section.container-fluid
  .row
    = render 'embraces/embrace_user_list', embraces: @dream.embraces


    .col-lg-12.text-center
      %br
      = link_to t('main.variations.a_number_of_people_would_do_a_number_of_things', users_count: @users_count, dreams_count: @dreams_count), dreams_path, class: 'btn btn-link'

%section.container-fluid
  .row
    .col-lg-12
      = render 'dreams/dream_grid_form', new_dream: Dream.new, title: t('main.variations.and_what_would_you_do')
