%table
  %tbody
    %tr
      %td
        %p Somebody created a new dream:
    %tr
      %td
        %p What would you do if your income were taken care of?
        %p I would...
        %p= @message
