.dream {
  background: -webkit-gradient(linear, left top, right bottom, from(#b2317a) 0%, to(#0888b2) 90%);
  background: -webkit-linear-gradient(top left, #b2317a 0%, #b2317a 90%);
  background: -o-linear-gradient(top left, #b2317a 0%, #b2317a 90%);
  background: linear-gradient(to top left, #b2317a 0%, #0888b2 90%);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
  padding: .8rem;
  border: .4rem solid #eee;
  margin-top: 1rem;
}

@include media-breakpoint-up(sm) {
  .dream {
    width: 100%;
  }
}

.dream.new-dream {
  background: #fff;
}

.dream h3 {
  color: #fff;
  text-shadow: 1px 1px 2px #444;
}

.dream img {
  border: .2rem solid #fff;
}

.dream.new-dream h3 {
  color: #666;
  text-shadow: none;
}

.dream a {
  color: #fff;
  text-shadow: 1px 1px 2px #444;
}

.dream a:hover {
  color: #fff;
  text-decoration: none;
}
