- unless @dream.embraced?(current_user)
  =link_to 'Me too', embrace_dream_path(@dream), class: 'btn btn-primary'
- else
  =link_to 'You too <3', disembrace_dream_path(@dream), 'data-method': :delete, method: :delete, class: 'btn btn-secondary', data: { confirm: 'You really want to let go of this dream?' }