= form_for @user do |f|
  = f.label :delete_avatar_path do
    .form-group
      .field
        = f.hidden_field :delete_avatar_path,
            value: 1,
            class: 'p-0',
            required: true
    .actions
      = f.submit t('dictionary.actions.delete_user_avatar'), class: 'form-control btn btn-danger', data: { disable_with: t('dictionary.actions.deleting'), confirm: t('dictionary.are_you_sure') }
