= form_for @user, multipart: true do |f|
  = f.label :avatar_image_file do
    .form-group
      .field
        = f.file_field :avatar_image_file,
            class: 'p-0',
            required: true
    .actions
      = f.submit t('dictionary.actions.upload_user_avatar'), class: 'form-control btn btn-primary', data: { disable_with: t('dictionary.actions.uploading') }
