= form_for @user do |f|
  .form-group
    .field
      = f.text_field :public_name, autofocus: true, class: 'form-control'
      = f.label :public_name, t('dictionary.forms.public_name')
  .actions
    = f.submit t('dictionary.actions.update'), data: { disable_with: t('dictionary.actions.updating') }, class: 'form-control btn btn-primary'
