%section.container-fluid
  .row
    .col-lg-12
      %h1 My Dreams
  .row
    = render 'dreams/dream_grid', dreams: @dreams

%section.container-fluid
  .row
    .col-lg-12
      = render 'dreams/what_would_you_do', new_dream: @new_dream