body {
  background-color: #ddd;
  overflow-x: hidden !important;
}

.container-fluid {
  max-width: 100% !important;
  overflow-x: hidden !important;
}


.narrow-centered {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
}

section {
  padding-bottom: 3rem;
  background-color: #fff;
}

section#alerts {
  padding: 1rem 0 3rem;
}

section#alerts .alert {
  margin-top: 1.5rem;
}

@include media-breakpoint-up(sm) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@include media-breakpoint-up(md) {
  .container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto;
  }
}

@include media-breakpoint-up(lg) {
  .container-fluid {
    width: 992px;
  }
}