body {
  background-color: #ddd;
}

section {
  padding-bottom: 3rem;
  background-color: #fff;
}

section#alerts {
  padding: 1rem 0 3rem;
}

section#alerts .alert {
  margin-top: 1.5rem;
}


@include media-breakpoint-up(sm) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

@include media-breakpoint-up(md) {
  .container-fluid {
    width: 960px;
    padding-left: 3rem;
    padding-right: 3rem;
    margin: 0 auto;
  }
}