%footer
  .row.margin
    .col-md-12.text-left
      %h3.color--white
        %pre= "ENV: #{Rails.env}"
      %h3.small.color--white.margin--bottom-x-small Params
      %pre= params

      -if current_user.present?
        %h3.small.color--white.margin--bottom-x-small Current user
        %pre= current_user.inspect
