%section.container-fluid.bg-dark.text-white
  .row
    .col-lg-12
      %h3
        %pre.text-white= "ENV: #{Rails.env}"
      %h3.text-white Params
      %pre.text-white= params

      -if current_user.present?
        %h3.text-white Current user
        %pre.text-white= current_user.inspect
