%h3= t('dictionary.actions.share_your_dreams')
= link_to(t('navigation.signed_out.register'), new_user_registration_path, class: 'btn btn-primary')
= link_to(t('navigation.signed_out.login'), after_sign_in_path||new_user_session_path, class: 'btn btn-secondary')