%section.container-fluid
  .row
    .col-lg-12
      %h1 What would you do if your income were taken care of?
      %h3 Other humans would...
      = render @dreams
      = render 'shared/login_or_register'
