%section.container-fluid
  .row
    .col-lg-12
      %h1= t('main.what_would_you_do_long_caption')
      %h2 That's what other people say:
  .row
    = render 'dreams/dream_grid', dreams: @dreams

%section.container-fluid
  .row
    .col-lg-12.text-center
      %hr
      = render 'shared/login_or_register', after_sign_in_path: new_dream_path
