.btn-primary {
  background-color: #0888b2;
  border-color: #0888b2;
}

.btn-primary:hover {
  background-color: #03526C;
  border-color: #03526C;
}

.btn-secondary {
  background-color: #b2317a;
  border-color: #b2317a;
}

.btn-secondary:hover {
  background-color: #7A0648;
  border-color: #7A0648;
}

.btn-link,
a {
  color: #0888b2;
}

.btn-link:hover,
a:hover {
  color: #03526C;
}
