body {
  padding-top: 1rem;
}

.navbar-mobile-brand {
  font-size: .95rem;
  line-height: 1.1rem;
}

.navbar-mobile-brand strong {
  display: block;
}

/* Base color theme */
.navbar-mge .navbar-brand {
  color: #fff;
}

.navbar-mge .navbar-brand:hover,
.navbar-mge .navbar-brand:focus {
  color: #fff;
}

.navbar-mge .navbar-nav .nav-link {
  color: #fff;
  border-bottom: 1px solid transparent;
}

.navbar-mge .nav-item.active .nav-link,
.navbar-mge .navbar-nav .nav-link:hover,
.navbar-mge .navbar-nav .nav-link:focus {
  color: #fff;
  border-color: #fff;
}

.navbar-mge .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-mge .navbar-nav .show > .nav-link,
.navbar-mge .navbar-nav .active > .nav-link,
.navbar-mge .navbar-nav .nav-link.show,
.navbar-mge .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-mge .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-mge .navbar-text {
  color: #fff;
}

.navbar-mge .navbar-text a {
  color: #fff;
}

.navbar-mge .navbar-text a:hover,
.navbar-mge .navbar-text a:focus {
  color: #fff;
}

/* Fresh color scheme (cobalt to green) */
nav.navbar-mge-fresh {
  background: -webkit-gradient(linear, left top, right top, from(#0888b2), to(#26b796));
  background: -webkit-linear-gradient(left, #0888b2 0%, #26b796 100%);
  background: -o-linear-gradient(left, #0888b2 0%, #26b796 100%);
  background: linear-gradient(to right, #0888b2 0%, #26b796 100%);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
}

/* Warm color scheme (berry to orange) */
nav.navbar-mge-warm {
  background: -webkit-gradient(linear, left top, right top, from(#b2317a), to(#ffb300));
  background: -webkit-linear-gradient(left, #b2317a 0%, #ffb300 100%);
  background: -o-linear-gradient(left, #b2317a 0%, #ffb300 100%);
  background: linear-gradient(to right, #b2317a 0%, #ffb300 100%);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
}

/* Space color scheme (cobalt to berry) */
nav.navbar-mge-space {
  background: -webkit-gradient(linear, left top, right top, from(#0888b2), to(#b2317a));
  background: -webkit-linear-gradient(left, #0888b2 0%, #b2317a 100%);
  background: -o-linear-gradient(left, #0888b2 0%, #b2317a 100%);
  background: linear-gradient(to right, #0888b2 0%, #b2317a 100%);
  -webkit-box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
  box-shadow: 0 2px 3px 1px rgba(0,0,0,0.1);
}
